div.HomePage {
    width: 100%;
    margin: 35px auto;
}

div.product-box {
    margin: 5px;
}

.product-image {
    width: 320px;
    height: 180px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #212d33;
}

div.products {
    grid-template-columns: repeat(auto-fill, minmax(320px, 335px));
    width: 100%;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-auto-rows: 190px;
}


div.User-detail {
    position: absolute;
    color: white;
    z-index: 5;
    text-align: center;
    width: 220px;
    margin-top: 32px;
    font-size: 15px;
    font-weight: 100;
}

.spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    color: #bf5757;
}